<a href="https://colab.research.google.com/github/markcatinoy/AIDA_LABORATORY_ACT/blob/main/LabNo_1_TeyvatArchons.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Topic 01: Basic Software Engineering Concepts**

Â© E.D.N Almaden, A.D Buenaventura, M.A Catinoy, E.J Vergara

### Task 1: Setting the Class Grades
1. Create variable declarations for:
        - Last Names
        - First Names
        - Grades for Prelims
        - Grades for Midterms
        - Grades for Finals 
2. Create a `dictionary` for consolidating the data from Task 1.1

In [ ]:
import pandas as pd
import numpy as np

from google.colab import files
uploaded = files.upload()

Saving class_grades.xlsx to class_grades.xlsx

In [ ]:
import io
a_b = pd.read_excel(io.BytesIO(uploaded['class_grades.xlsx'])) 
a_b

       name  id  prelim_grades  midterm_grades  final_grades
0     alpha   1      94.960000          95.260       92.2192
1     aleph   2      94.960000          95.260       92.7792
2      beta   3      78.173333          94.360       84.3200
3      beth   4      78.173333          81.372       84.6400
4    cuprum   5      94.960000          95.260       92.2192
5     delta   6      84.826667          92.485       83.5792
6       eta   7      93.980000          97.300       95.6528
7   epsilon   8      60.788200          68.000       83.8672
8   foxtrot   9      94.306667          82.000       84.1472
9     gamma  10      96.406667          82.000       84.1472
10     geld  11      86.926667          92.485       82.7792
11    horus  12      78.173333          94.360       84.3200
12     iota  13      94.306667          82.000       84.1472
13     ixus  14      78.173333          94.360       84.3200
14  jakarta  15      84.826667          92.485       82.7792
15    koppa  16      84.826667          87.685       83.8672
16   lambda  17      93.980000          97.300       95.6528
17       mu  18      79.806667          83.500       81.2792
18       nu  19      75.406667          82.000       82.5472
19     neta  20      69.314000          87.685       50.3360
20  omicron  21      93.980000          97.300       95.6528
21    omega  22      79.806667          83.500       81.2792
22  phalanx  23      84.826667          92.485       82.7792
23     peta  24      94.960000          95.260       92.2192
24       pi  25      79.806667          87.460       81.2792
25    yotta  26      93.980000          97.300       94.8528
26     zeta  27      86.626667          84.850       83.8672

### Task 2: Getting Class Statistics
1. Create a function named `get_grades()` for computing the semestral grade of each student:

  `inputs`: `dictionary` of a class grade sheet.
  
  `outpus`: `dictionary` showing:
  * The prelim, midterms, and finals grades of each student
  * The semestral grade of each student

2. Create a function named `get_class_stats()`.
  
  `inputs`: `dictionary` from `get_grades()`.
  
  `outpus`: `dictionary` showing:
  * The lowest and highest prelim, midterm, finals, and semestral grades
  * the mean, median, mode, and standard deviation of the grades

In [ ]:
def get_grades(b):
   b['Semestral Grade'] = (b.iloc[:,2:5].sum(axis=1))/3 
   return b

def get_class_stats(b):
    get_grades(b)

    print("================================")
    print("Lowest Prelim Grade")
    column = a_b["prelim_grades"]
    min_value = column.min()
    print(min_value)
    print("================================")
    print("Highest Prelim Grade")
    column = a_b["prelim_grades"]
    max_value = column.max()
    print(max_value)
    print("================================")
    print("Lowest Midterm Grade")
    column = a_b["midterm_grades"]
    min_value = column.min()
    print(min_value)
    print("================================")
    print("Highest Midterm Grade")
    column = a_b["midterm_grades"]
    max_value = column.max()
    print(max_value)
    print("================================")
    print("Lowest Final Grade")
    column = a_b["final_grades"]
    min_value = column.min()
    print(min_value)
    print("================================")
    print("Highest Final Grade")
    column = a_b["final_grades"]
    max_value = column.max()
    print(max_value)
    print("================================")
    print("Lowest Semestral Grade")
    column = a_b["Semestral Grade"]
    min_value = column.min()
    print(min_value)
    print("================================")
    print("Highest Semestral Grade")
    column = a_b["Semestral Grade"]
    max_value = column.max()
    print(max_value)
    print("================================")
    print("Mean Grade")
    column = a_b["Semestral Grade"]
    mean_value = column.mean()
    print(mean_value)
    print("================================")
    print("Median Grade")
    column = a_b["Semestral Grade"]
    median_value = column.median()
    print(median_value)
    print("================================")
    print("Mode Grade")
    column = a_b["Semestral Grade"]
    mode_value = column.mode()
    print(mode_value)
    print("================================")
    print("Standard Deviation")
    column = a_b["Semestral Grade"]
    standarddev_value = column.std()
    print(standarddev_value)

get_class_stats(a_b)

================================
Lowest Prelim Grade
60.7882
================================
Highest Prelim Grade
96.4066667
================================
Lowest Midterm Grade
68.0
================================
Highest Midterm Grade
97.3
================================
Lowest Final Grade
50.336
================================
Highest Final Grade
95.6528
================================
Lowest Semestral Grade
69.11166666666666
================================
Highest Semestral Grade
95.64426666666667
================================
Mean Grade
86.76670370740739
================================
Median Grade
86.69695556666666
================================
Mode Grade
0    85.617778
1    94.146400
2    95.644267
dtype: float64
================================
Standard Deviation
6.932713411552897

### Task 3: Advanced Class Functions
1. Optimize `get_grades()` by eliminating for loops in your function.
2. Create a function named `get_similar_students()`
  
  `inputs`: two (2) class `dictionary`
  
  `outputs`: list of common student numbers.

  *Note*: The function should not contain iterative code blocks (i.e. `for` or `while` loops, or list comprehension)

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving classlists.xlsx to classlists.xlsx

In [ ]:
a_b1 = pd.read_excel('classlists.xlsx', 'class1')         
a_b2 = pd.read_excel('classlists.xlsx', 'class2')

def get_grades(b):
    b['Semestral Grade'] = (b.iloc[:,2:5].sum(axis=1))/3
    return round(b,2)
  
def get_similar_students(a_1, a_2):
    df_similar = [a_1, a_2]
    result = pd.concat(df_similar)         ## Merging two dataframe and getting the Inner Join
    return result
get_similar_students(a_b1, a_b2)

      Unnamed: 0    201103056
0    201009754.0          NaN
1    201109795.0          NaN
2    201005713.0          NaN
3    201009855.0          NaN
4    201006171.0          NaN
..           ...          ...
994          NaN  201101346.0
995          NaN  201007625.0
996          NaN  201003815.0
997          NaN  201102428.0
998          NaN  201006876.0

[1999 rows x 2 columns]

### Task 4: Class of Classes
1. Modify the `class` `Section` and integrate the functions from Tasks 1 to 3 as its methods. Make sure that the codes are optimized.
2. Create a `method` named `get_failed()` wherein it will create a list of all the failed students in the class.
3. Create a `method` named `fail_count()` wherein it will return the count of the failed students.

** **Note:** due to data privacy, the data privacy office has mandated your code to refrain from printing the student number and names of students. Their student numbers and names  must be masked with asterisks.

In [ ]:
class Section:
    def __init__(self, max_pop, c_grade=0, c_d1=0, c_d2=0):
        self.max_pop = max_pop
        self.c_grade = c_grade
        self.c_d1 = c_d1
        self.c_d2 = c_d2
        
    def copy(self, copy):
        a_copy = copy.copy()
        return a_copy

    def count_class(self):
        return len(self.c_grade)

    def is_overloaded(self):
        is_overload = True if self.count_class() > self.max_pop else False
        return is_overload

    def get_grades(self):
        self.c_grade['Semestral Grade'] = (self.c_grade.iloc[:,2:5].sum(axis=1))/3
        return self.copy(self.c_grade)

    def get_failed(self):
        self.get_grades()
        num_failed = (self.c_grade['Semestral Grade'] < 70)
        return self.c_grade.loc[num_failed]

    ## Getting the number of failed students
    def fail_count(self):
        return print("The number of student who didn't pass: ",len(self.get_failed()))

section = Section(40, a_b)
section.fail_count()

The number of student who didn't pass:  1